{:linters {:unresolved-symbol {:exclude [goog.DEBUG

                                         (com.rpl.specter/recursive-path)]}}
 :lint-as {applied-science.js-interop/defn clojure.core/defn
           applied-science.js-interop/let clojure.core/let
           applied-science.js-interop/fn clojure.core/fn
           promesa.core/let clojure.core/let
           promesa.core/loop clojure.core/loop
           promesa.core/plet clojure.core/let
           promesa.core/recur clojure.core/recur
           reagent.core/with-let clojure.core/let}}

